/* * {
  outline: 1px solid red;
} */
:root {
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --white-text-color: #ffffff;
  --accent-color: #2196f3;
  --hero-background-color: #2f303a;
  --footer-background-color: #2f303a;
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --border-color: #eeeeee;
  --icon-color: #afb1b8;

  --card-set-gap: 30px;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* ========== UTILITIES========== */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* ========== END UTILITIES ========== */

/* ========== BODY ========== */
body {
  /* padding-top: 80px; */

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
  background-color: var(--primary-background-color);
}
a {
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;

  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  min-width: 100%;
  height: auto;
}
textarea {
  resize: none;
}
/* ========== END BODY ========== */

/* ========== HEADER ========== */
.header {
  background-color: var(--primary-background-color);
  border-bottom: 1px solid var(--border-color);
}
.header .container {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.header .logo {
  margin-right: 93px;
  color: #000;
}
.logo-segment {
  color: var(--accent-color);
}
.navigation-list {
  display: flex;
}
.navigation-list-item + .navigation-list-item,
.header-address-link + .header-address-link {
  margin-left: 50px;
}
.navigation-link,
.header-address-link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms var(--timing-function);
}
.navigation-link.current {
  position: relative;

  color: var(--accent-color);
}
.navigation-link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;

  width: 100%;
  height: 4px;
  border-radius: 4px;

  background-color: var(--accent-color);
}

.navigation-link,
.header-address {
  margin-left: auto;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.header-address {
  display: flex;
}
.address-icon {
  margin-right: 10px;
  fill: currentColor;
}
.header-address-link {
  display: flex;
  align-items: center;
  font-style: normal;
  color: var(--primary-text-color);
}
.navigation-link:hover,
.navigation-link:focus,
.header-address-link:hover,
.header-address-link:focus {
  color: var(--accent-color);
}
/* ========== END HEADER ========== */

/* ========== HERO ========== */
.hero {
  max-width: 1600px;
  min-height: 600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;
  background-color: var(--hero-background-color);

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
.hero-title {
  width: 696px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
}
.hero-button,
.submit-button,
.subscr-button {
  display: block;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 0;

  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--white-text-color);
  cursor: pointer;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: color 250ms var(--timing-function);
}
/* ========== END HERO ========== */

/* ========== FEATURES ========== */
.features {
  padding-bottom: 0;
}
.features-list {
  display: flex;
}
.features-list-item {
  width: 270px;
}
.features-list-item + .features-list-item {
  margin-left: 30px;
}
.features-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  background-color: var(--secondary-background-color);
}
.features-list-title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
}
.features-list-title,
.services-descr,
.follow-us,
.subscr-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features-list-text {
  margin: 0;

  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}
/* ========== END FEATURES ========== */

/* ========== SERVICES ========== */
.services-title,
.team-title,
.clients-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-text-color);
}
.services-list {
  display: flex;
  justify-content: space-between;
}
.services-list-item {
  position: relative;
}
.services-label {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 70px;

  background-color: rgba(47, 48, 58, 0.8);
}
.label-text {
  padding-top: 27px;
  padding-bottom: 27px;

  text-align: center;
  color: var(--white-text-color);
}
/* ========== END SERVICES ========== */

/* ========== TEAM ========== */
.team {
  background-color: var(--secondary-background-color);
}
.team-list {
  display: flex;
  justify-content: space-between;
}
.team-list-item {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--primary-background-color);
}
.team-card-content {
  padding-top: 30px;
  padding-right: 32px;
  padding-bottom: 30px;
  padding-left: 32px;
}
.team-name-title,
.team-profession {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--title-text-color);
}
.team-name-title {
  margin-bottom: 10px;
}
.team-profession {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 400;
  color: var(--primary-text-color);
}
.team-social-networks {
  display: flex;
  justify-content: space-between;
}
.team-social-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  color: var(--icon-color);
  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
}
.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
}
.team-icon {
  fill: currentColor;
}
/* ========== END TEAM ========== */

/* ========== CLIENTS ========== */
.clients-list {
  display: flex;
  justify-content: space-between;
}
.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;

  color: var(--icon-color);

  transition: color 250ms var(--timing-function),
    border-color 250ms var(--timing-function);
}
.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
.clients-icon {
  fill: currentColor;
}
/* ========== END CLIENTS ========== */

/* ********** PORTFOLIO ********** */

.portfolio .container {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}
.portfolio-filter-item {
  border: none;
}
.portfolio-filter-item + .portfolio-filter-item {
  margin-left: 8px;
}
.portfolio-filter-button {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  border: none;
  border-radius: 4px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--secondary-background-color);

  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}
.portfolio-filter-button.current,
.portfolio-filter-button:hover,
.portfolio-filter-button:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
.portfolio-cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));
}
.portfolio-card-item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-top: var(--card-set-gap);
  margin-left: var(--card-set-gap);
}
/* ----- ALT SET ----- */

/* .portfolio-cards {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-card-item {
  flex-basis: calc((100% - 2 * 30px) / 3);
  margin-right: 30px;
}
.portfolio-card-item:nth-child(3n) {
  margin-right: 0;
}
.portfolio-card-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
} */

/* ----- END ALT SET ----- */
.portfolio-card-link {
  display: block;

  transition: color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}
.portfolio-card-link:hover,
.portfolio-card-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-card-link:hover .thumb-overlay,
.portfolio-card-link:focus .thumb-overlay {
  transform: translateY(0);
}
.portfolio-card-thumb {
  position: relative;
  overflow: hidden;
}
.thumb-overlay {
  position: absolute;
  left: 0;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  transition: color 250ms var(--timing-function),
    transform 250ms var(--timing-function);
  transform: translateY(100%);
}
.card-descr {
  width: 322px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: var(--white-text-color);
}
.card-title-container {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}
.portfolio-card-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.portfolio-card-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}
/* ********** END PORTFOLIO ********** */

/* ========== FOOTER ========== */
.footer {
  background-color: var(--footer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer > .container {
  display: flex;
  align-items: baseline;
}
.footer-address-wrapper {
  width: 231px;
  margin-right: 70px;
}
.footer .logo {
  display: inline-block;
  margin-bottom: 20px;

  color: #fff;
}

.footer-address-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-address-map,
.footer-address-link {
  display: inline-block;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-background-color);
}
.footer-address-map {
  margin: 0;
}
.footer-address-link {
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms var(--timing-function);
}
.footer-address-link:hover,
.footer-address-link:focus {
  color: #fff;
}
.follow-us,
.subscr-title {
  display: inline-block;
  margin-bottom: 20px;

  color: var(--white-text-color);
  font-style: normal;
}
.footer-social-container {
  margin-right: 93px;
}
.footer-social-list {
  display: flex;
}
.footer-social-item:not(:last-child) {
  margin-right: 10px;
}
.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--timing-function);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}
.footer-social-icon {
  fill: var(--white-text-color);
}

.subscr-field {
  display: flex;
}
.subscr-field input {
  width: 358px;
  padding: 15px 16px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
}
.subscr-field input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscr-button {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.send-icon {
  margin-left: 10px;
}
/* ========== END FOOTER ========== */

/* ========== MODAL WINDOW ========== */
.backdrop {
  perspective: 500px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms var(--timing-function);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal-window {
  position: relative;

  width: 528px;
  min-height: 581px;
  margin: auto;
  padding: 40px;
  border-radius: 4px;

  background-color: var(--primary-background-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transition: transform 250ms var(--timing-function);
}
.backdrop.is-hidden .modal-window {
  transform: scale(0) rotateX(-180deg);
}
.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  background-color: var(--primary-background-color);
  fill: currentColor;

  transition: color 250ms var(--timing-function);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  color: var(--accent-color);
}

.modal-action {
  display: block;
  margin-bottom: 12px;

  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}
.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.form-field.textarea {
  margin-bottom: 20px;
}
.form-field label {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.16;

  letter-spacing: 0.01em;

  color: var(--primary-text-color);
}
.form-input,
.form-textarea {
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: var(--primary-text-color);

  transition: border-color 250ms var(--timing-function);
}
.form-input:focus,
.form-textarea:focus {
  border-color: var(--accent-color);
}
.form-input:hover + .input-icon,
.form-input:focus + .input-icon {
  color: var(--accent-color);
}
.form-field .form-textarea {
  min-height: 120px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
}
.form-field textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.input-icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  fill: currentColor;

  transition: color 250ms var(--timing-function);
}
.form-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.form-checkbox label {
  display: flex;
  align-items: center;
}
.check-icon {
  color: var(--white-text-color);
  margin-right: 8px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  fill: currentColor;

  transition: background-color 250ms var(--timing-function),
    border-color 250ms var(--timing-function);
}
.form-checkbox input {
  position: absolute;
  margin-right: 8px;
}
.form-checkbox input:checked + .check-icon {
  border: none;
  background-color: var(--accent-color);
}
.form-checkbox label {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
.agreement-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--accent-color);
}
/* ========== END MODAL WINDOW ========== */
