.page-header {
  background-color: var(--primary-background-color);
  border-bottom: 1px solid var(--border-color);
}

.page-header__logo {
  margin-right: 93px;
  color: #000;
}

.page-header__link + .page-header__link {
  margin-left: 50px;
}

.page-header__link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms var(--timing-function);
}

.page-header__address {
  display: flex;
  margin-left: auto;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.page-header__icon {
  margin-right: 10px;
  fill: currentColor;
}

.page-header__link {
  display: flex;
  align-items: center;
  font-style: normal;
  color: var(--primary-text-color);
}

.page-header__link {
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
