.page-footer__social-wrapper {
  margin-right: 93px;
}

.page-footer__social-list {
  display: flex;
}

.page-footer__social-item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.page-footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.page-footer__social-icon {
  fill: var(--white-text-color);
}
