$title-text-color: #212121;
$primary-text-color: #757575;
$white-text-color: #ffffff;
$accent-color: #2196f3;
$hero-background-color: #2f303a;
$footer-background-color: #2f303a;
$primary-background-color: #ffffff;
$secondary-background-color: #f5f4fa;
$border-color: #eeeeee;
$icon-color: #afb1b8;
$card-set-gap: 30px;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
